body {
    margin: 0px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.mainbody {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: flex-start;
    background-color: #3788b1;
    height: 100%;
    padding-bottom: 20vh;
    color: #FFFFFF;
    border-width: 1px;
    border-style: solid;
    border-color: #245a74;
}

.mainbody_primary {
    margin: auto;
    width: 80%;
}

.form_container {
    background-color: #6ea9c7;
    top: 0%;
    height: 40vh;
    color: #FFFFFF;
    border-width: 1px;
    border-style: solid;
    border-color: #47a3d1;
    border-radius: 10px;
    padding: 5vw;
    text-align: left;
}

.banner_container {
    background-color: #ad8061;
    height: 8.4vh;
}

.banner_banner {
    background-color: #b65c2c;
    border-radius: 0px 0px 10px 10px;
}

.banner_banner a {
    float: right;
    color: #DDBEA9;
    background-color: #91684c;
    text-align: center;
    padding: 3vh 3vh;
    text-decoration: none;
}

.banner_banner a:hover {
    background-color: #DDBEA9;
    color: black;
}

.banner_banner a.active {
    background-color: #04AA6D;
    color: white;
}

footer {
    width: 100%;
    height: 20vh;
    position: absolute;
    bottom: 0;
    padding-top: 30px;
    background-color: #6B705C;
    color: white;
    text-align: center;
    border-radius: 10px 10px 0px 0px;
}